.navbar-brand{
    text-decoration: blink;
    font-family: Berkshire Swash;
    font-size:250%;
    font-weight: bold;
}/*
 
 
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 26, 2018, 12:54:00 AM
    Author     : Ayush
*/

#dp{
    float:left;
    border:3px solid #992242;
    padding:10px;
   margin:10px;
}

#poem{
    float:right;
    display:block;
    border:3px solid #992242;
    padding:10px;
    margin:10px;
}
@media(max-width:961px){
#poem{
    display:none;
    
    
}
}
#content{
    background-image: url("http://www.kinyu-z.net/data/wallpapers/249/1577733.jpg");
    background-size: auto;
    
    padding-top:75px;
}

#poem{
    font-family:Alex Brush;
    color:white;
    font-size:175%;
}

.jumbotron{
     background-color:rgba(7,3,3,0.3);
}
#intro{
    font-family:Aladin;
    font-size:200%;
    color:white;
    background-color:rgba(172,245,15,0.5)
}

.subj{
    border: solid black 1px;
    font-family: Barrio;
}

a{
    display:inline;
    padding:10px;
    color:#ffffff;
    text-decoration: none;
}
.footer{
    background-color:#7646d9;
      
}
#con{
    color:#ffffff;
    font-family: Aladin;
    font-size: 200%;
    padding:10px;
}
.contacts{
    
    
    padding: 10px;
    
    
}
.contacts:hover{
    color:greenyellow;
    text-decoration: none;
    
}
